@bodyerBack:url(../images/back.png);
@antherBack:url(../images/body.jpg) repeat;
@headerBack:url(../images/header.png) repeat;
@close:url(../images/close.png);
@edit:url(../images/edit.png);
html,body {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑;
  width: 100%;
  height: 100%;
  font-size: 625%;
  background: rgb(245, 242, 240);
}
body{
	font-size: 16px;
}
li{
	list-style: none;
}
a{
	color: black;
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}
input{
	outline: none;
}
#root{
	width: 100%;
	height: 100%;
	max-width: 768px;
	margin:0 auto;
	background-size: 100% 100%;
}
.Router{
	width: 100%;
	height:100%;
}
/*  返回箭头 */
.down-arrow {  
    width: 10px;  
    height: 10px;  
    position: relative;
    top: -2px;
}  
.down-arrow:after {  
    content: '';  
    display: block;  
    width: 10px;  
    height: 10px;  
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: rotate(-135deg);  
}  
.down-arrow:before{
	content: '';
	display:block;
	width: 15px;
	height: 2px;
	background:black;
	position: absolute;
	top: 50%;
	margin-top: 1px;
	left: 0px;
}
/* 保存icon  */
.saveIcon{ 
    display: inline-block; 
    width: 10px;
    height:5px; 
    background: black;
    line-height: 0;
    font-size:0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}
.saveIcon:after{
    content:'/';
    display:block;
    width: 20px;
    height:5px; 
    background: black;
    -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
}
.header{
    height: 48px;
    width: 100%;
    display: flex;
    line-height: 48px;
    background: #f5f2f0;
    box-shadow: 0 1px 5px #ccc;
    z-index: 2;
    padding:0 .1rem 0;
    box-sizing: border-box;
    align-items:center;
    font-size: 12px;
    position: relative;
    justify-content:space-between;
}
.bodyer{
    overflow: auto;
    width: 100%;
    flex:1;
    background: rgb(250, 250, 250);
    background: none;
    box-sizing: border-box;
    padding:.18rem;
    padding-bottom: 0;   
}
.footer{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    position: relative;
    align-items:center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.03), 2px 0 5px rgba(0, 0, 0, 0.15);
    .chooseLink{
        color: red;
    }
}

.btnGroup{
    width: 100%;
    height: .4rem;
    position: fixed;
    bottom: 60px;
    left: 0;
    display: flex;
    justify-content:center;
    span{
        width: .3rem;
        height: .3rem;
        background-position: center;
        background-size: 100%; 
        text-align: center;
        line-height: .3rem; 
        margin:0 .1rem 0;
    }
    .closeToast{ 
        background-image: @close;     
     }
    .editMail{
        background-image: @edit;
     }
     .btnRadius{
        font-size: .2rem;
        width: .8rem;
        height: .3rem;
        display: block;
        box-shadow: 0px 0px 6px #ccc;
        text-align: center;
        line-height: .3rem;
        background: white;
        border: 0 solid transparent; -moz-border-radius:.4rem;-webkit-border-radius:.4rem;border-radius:.4rem;
    }

}

