.editBook {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  h3{
  	
  }
  .header{
  	a{
  		margin-right: .1rem;
  	}
  }
  .bodyer{
    .editTitel{
      height: .3rem;
      line-height: .3rem;
      border:1px solid #ff9800;
      margin: .2rem;
      padding-left: .1rem;
      overflow:hidden;
        text-indent: 1em;
    }
    .editContent{
        margin:.2rem;
        text-indent: 1em;
        min-height: 2rem;
       border:1px solid #ff9800;
       font-size: 16px;
        font-weight: bold;
        line-height: 2em;
        padding:.1rem;
    }
  }
}



